body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-border
{
    border: 0.5rem outset skyblue;
    box-shadow: 0 0 0 1rem blue;
    border-radius: 0.2rem;
    outline: 0.5rem solid navy;
    outline-offset: 0.2rem;
    background-color :teal;
    margin:auto;
}

h1
{
    text-decoration: underline;
    text-align: center;
}

h2{
    text-align: center;
}


.menu
{
    
    list-style-type: none;
    display: flex;
    align-items: center;
}

li
{
    border: 0.5rem outset skyblue;
    font-size: large;
}

a:hover{
    color: red;
}

img:hover
{
    border: 0.05rem outset red;
}


.image-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-template-rows: 200x 200px;
    grid-gap: 0px;
    align-items: center;
}

#header-flex
{
    display: flex;  
}

#mainlayout-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-template-rows: 400x 400px;
    grid-gap: 0px;
    align-items: center;
}

#StoryImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

cite
{
    text-align: center;
}

article
{
    margin-top: 15px;
    border: 0.2rem outset black;
    outline: 0.25rem solid navy;
}

#footer-layout
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    grid-template-rows: 600x;
    grid-gap: 0px;
    align-items: center;  
}

footer-box1
{
    grid-column: 1;
    grid-row: 1;
}

footer-box2
{
    grid-column : 2/3;
    grid-row : 1;
}

a {
    font-size: 1.5rem;
} 